{
    "ServiceSettings": {
        "SiteURL": "{{ or (env "MM_ServiceSettings_SiteURL") "http://localhost:8065" }}",
        "WebsocketURL": "{{ or (env "MM_ServiceSettings_WebsocketURL") "" }}",
        "LicenseFileLocation": "{{ or (env "MM_ServiceSettings_LicenseFileLocation") "" }}",
        "ListenAddress": "{{ or (env "MM_ServiceSettings_ListenAddress") ":8065" }}",
        "ConnectionSecurity": "{{ or (env "MM_ServiceSettings_ConnectionSecurity") "" }}",
        "TLSCertFile": "{{ or (env "MM_ServiceSettings_TLSCertFile") "" }}",
        "TLSKeyFile": "{{ or (env "MM_ServiceSettings_TLSKeyFile") "" }}",
        "UseLetsEncrypt": {{ or (env "MM_ServiceSettings_UseLetsEncrypt") "false" }},
        "LetsEncryptCertificateCacheFile": "{{ or (env "MM_ServiceSettings_LetsEncryptCertificateCacheFile") "./config/letsencrypt.cache" }}",
        "Forward80To443": {{ or (env "MM_ServiceSettings_Forward80To443") "false" }},
        "ReadTimeout": {{ or (env "MM_ServiceSettings_ReadTimeout") "300" }},
        "WriteTimeout": {{ or (env "MM_ServiceSettings_WriteTimeout") "300" }},
        "MaximumLoginAttempts": "{{ or (env "MM_ServiceSettings_MaximumLoginAttempts") "10" }}",
        "GoroutineHealthThreshold": {{ or (env "MM_ServiceSettings_GoroutineHealthThreshold") "-1" }},
        "GoogleDeveloperKey": "{{ or (env "MM_ServiceSettings_GoogleDeveloperKey") "" }}",
        "EnableOAuthServiceProvider": {{ or (env "MM_ServiceSettings_EnableOAuthServiceProvider") "false" }},
        "EnableIncomingWebhooks": {{ or (env "MM_ServiceSettings_EnableIncomingWebhooks") "true" }},
        "EnableOutgoingWebhooks": {{ or (env "MM_ServiceSettings_EnableOutgoingWebhooks") "true" }},
        "EnableCommands": {{ or (env "MM_ServiceSettings_EnableCommands") "true" }},
        "EnableOnlyAdminIntegrations": {{ or (env "MM_ServiceSettings_EnableOnlyAdminIntegrations") "true" }},
        "EnablePostUsernameOverride": {{ or (env "MM_ServiceSettings_EnablePostUsernameOverride") "false" }},
        "EnablePostIconOverride": {{ or (env "MM_ServiceSettings_EnablePostIconOverride") "false" }},
        "EnableAPIv3": {{ or (env "MM_ServiceSettings_EnableAPIv3") "false" }},
        "EnableLinkPreviews": {{ or (env "MM_ServiceSettings_EnableLinkPreviews") "false" }},
        "EnableTesting": {{ or (env "MM_ServiceSettings_EnableTesting") "false" }},
        "EnableDeveloper": {{ or (env "MM_ServiceSettings_EnableDeveloper") "false" }},
        "EnableSecurityFixAlert": {{ or (env "MM_ServiceSettings_EnableSecurityFixAlert") "true" }},
        "EnableInsecureOutgoingConnections": {{ or (env "MM_ServiceSettings_EnableInsecureOutgoingConnections") "false" }},
        "AllowedUntrustedInternalConnections": "{{ or (env "MM_ServiceSettings_AllowedUntrustedInternalConnections") "" }}",
        "EnableMultifactorAuthentication": {{ or (env "MM_ServiceSettings_EnableMultifactorAuthentication") "false" }},
        "EnforceMultifactorAuthentication": {{ or (env "MM_ServiceSettings_EnforceMultifactorAuthentication") "false" }},
        "EnableUserAccessTokens": {{ or (env "MM_ServiceSettings_EnableUserAccessTokens") "false" }},
        "AllowCorsFrom": "{{ or (env "MM_ServiceSettings_AllowCorsFrom") "" }}",
        "AllowCookiesForSubdomains": {{ or (env "MM_ServiceSettings_AllowCookiesForSubdomains") "false" }},
        "SessionLengthWebInDays": {{ or (env "MM_ServiceSettings_SessionLengthWebInDays") "30" }},
        "SessionLengthMobileInDays": {{ or (env "MM_ServiceSettings_SessionLengthMobileInDays") "30" }},
        "SessionLengthSSOInDays": {{ or (env "MM_ServiceSettings_SessionLengthSSOInDays") "30" }},
        "SessionCacheInMinutes": {{ or (env "MM_ServiceSettings_SessionCacheInMinutes") "10" }},
        "SessionIdleTimeoutInMinutes": {{ or (env "MM_ServiceSettings_SessionIdleTimeoutInMinutes") "0" }},
        "WebsocketSecurePort": {{ or (env "MM_ServiceSettings_WebsocketSecurePort") "443" }},
        "WebsocketPort": {{ or (env "MM_ServiceSettings_WebsocketPort") "80" }},
        "WebserverMode": "{{ or (env "MM_ServiceSettings_WebserverMode") "gzip" }}",
        "EnableCustomEmoji": {{ or (env "MM_ServiceSettings_EnableCustomEmoji") "false" }},
        "EnableEmojiPicker": {{ or (env "MM_ServiceSettings_EnableEmojiPicker") "true" }},
        "RestrictCustomEmojiCreation": "{{ or (env "MM_ServiceSettings_RestrictCustomEmojiCreation") "all" }}",
        "RestrictPostDelete": "{{ or (env "MM_ServiceSettings_RestrictPostDelete") "all" }}",
        "AllowEditPost": "{{ or (env "MM_ServiceSettings_AllowEditPost") "always" }}",
        "PostEditTimeLimit": {{ or (env "MM_ServiceSettings_PostEditTimeLimit") "-1" }},
        "ExperimentalEnableAuthenticationTransfer": {{ or (env "MM_ServiceSettings_ExperimentalEnableAuthenticationTransfer") "true" }},
        "TimeBetweenUserTypingUpdatesMilliseconds": {{ or (env "MM_ServiceSettings_TimeBetweenUserTypingUpdatesMilliseconds") "5000" }},
        "EnablePostSearch": {{ or (env "MM_ServiceSettings_EnablePostSearch") "true" }},
        "EnableUserTypingMessages": {{ or (env "MM_ServiceSettings_EnableUserTypingMessages") "true" }},
        "EnableChannelViewedMessages": {{ or (env "MM_ServiceSettings_EnableChannelViewedMessages") "true" }},
        "EnableUserStatuses": {{ or (env "MM_ServiceSettings_EnableUserStatuses") "true" }},
        "ClusterLogTimeoutMilliseconds": {{ or (env "MM_ServiceSettings_ClusterLogTimeoutMilliseconds") "2000" }},
        "EnablePreviewFeatures": {{ or (env "MM_ServiceSettings_EnablePreviewFeatures") "true" }},
        "CloseUnusedDirectMessages": {{ or (env "MM_ServiceSettings_CloseUnusedDirectMessages") "false" }},
        "EnableTutorial": {{ or (env "MM_ServiceSettings_EnableTutorial") "true" }},
        "ExperimentalEnableDefaultChannelLeaveJoinMessages": {{ or (env "MM_ServiceSettings_ExperimentalEnableDefaultChannelLeaveJoinMessages") "true" }},
        "ExperimentalGroupUnreadChannels": "{{ or (env "MM_ServiceSettings_ExperimentalGroupUnreadChannels") "disabled" }}",
        "ImageProxyType": "{{ or (env "MM_ServiceSettings_ImageProxyType") "" }}",
        "ImageProxyOptions": "{{ or (env "MM_ServiceSettings_ImageProxyOptions") "" }}",
        "ImageProxyURL": "{{ or (env "MM_ServiceSettings_ImageProxyURL") "" }}"
    },
    "TeamSettings": {
        "SiteName": "{{ or (env "MM_TeamSettings_SiteName") "Mattermost" }}",
        "MaxUsersPerTeam": {{ or (env "MM_TeamSettings_MaxUsersPerTeam") "50" }},
        "EnableTeamCreation": {{ or (env "MM_TeamSettings_EnableTeamCreation") "true" }},
        "EnableUserCreation": {{ or (env "MM_TeamSettings_EnableUserCreation") "true" }},
        "EnableOpenServer": {{ or (env "MM_TeamSettings_EnableOpenServer") "false" }},
        "RestrictCreationToDomains": "{{ or (env "MM_TeamSettings_RestrictCreationToDomains") "" }}",
        "EnableCustomBrand": {{ or (env "MM_TeamSettings_EnableCustomBrand") "false" }},
        "CustomBrandText": "{{ or (env "MM_TeamSettings_CustomBrandText") "" }}",
        "CustomDescriptionText": "{{ or (env "MM_TeamSettings_CustomDescriptionText") "" }}",
        "RestrictDirectMessage": "{{ or (env "MM_TeamSettings_RestrictDirectMessage") "any" }}",
        "RestrictTeamInvite": "{{ or (env "MM_TeamSettings_RestrictTeamInvite") "all" }}",
        "RestrictPublicChannelManagement": "{{ or (env "MM_TeamSettings_RestrictPublicChannelManagement") "all" }}",
        "RestrictPrivateChannelManagement": "{{ or (env "MM_TeamSettings_RestrictPrivateChannelManagement") "all" }}",
        "RestrictPublicChannelCreation": "{{ or (env "MM_TeamSettings_RestrictPublicChannelCreation") "all" }}",
        "RestrictPrivateChannelCreation": "{{ or (env "MM_TeamSettings_RestrictPrivateChannelCreation") "all" }}",
        "RestrictPublicChannelDeletion": "{{ or (env "MM_TeamSettings_RestrictPublicChannelDeletion") "all" }}",
        "RestrictPrivateChannelDeletion": "{{ or (env "MM_TeamSettings_RestrictPrivateChannelDeletion") "all" }}",
        "RestrictPrivateChannelManageMembers": "{{ or (env "MM_TeamSettings_RestrictPrivateChannelManageMembers") "all" }}",
        "EnableXToLeaveChannelsFromLHS": {{ or (env "MM_TeamSettings_EnableXToLeaveChannelsFromLHS") "false" }},
        "UserStatusAwayTimeout": {{ or (env "MM_TeamSettings_UserStatusAwayTimeout") "300" }},
        "MaxChannelsPerTeam": {{ or (env "MM_TeamSettings_MaxChannelsPerTeam") "2000" }},
        "MaxNotificationsPerChannel": {{ or (env "MM_TeamSettings_MaxNotificationsPerChannel") "1000" }},
        "EnableConfirmNotificationsToChannel": {{ or (env "MM_TeamSettings_EnableConfirmNotificationsToChannel") "true" }},
        "TeammateNameDisplay": "{{ or (env "MM_TeamSettings_TeammateNameDisplay") "username" }}",
        "ExperimentalEnableAutomaticReplies": {{ or (env "MM_TeamSettings_ExperimentalEnableAutomaticReplies") "false" }},
        "ExperimentalTownSquareIsReadOnly": {{ or (env "MM_TeamSettings_ExperimentalTownSquareIsReadOnly") "false" }},
        "ExperimentalPrimaryTeam": "{{ or (env "MM_TeamSettings_ExperimentalPrimaryTeam") "" }}"
    },
    "DisplaySettings": {
        "ExperimentalTimezone": {{ or (env "MM_DisplaySettings_ExperimentalTimezone") "false" }}
    },
    "ClientRequirements": {
        "AndroidLatestVersion": "{{ or (env "MM_ClientRequirements_AndroidLatestVersion") "" }}",
        "AndroidMinVersion": "{{ or (env "MM_ClientRequirements_AndroidMinVersion") "" }}",
        "DesktopLatestVersion": "{{ or (env "MM_ClientRequirements_DesktopLatestVersion") "" }}",
        "DesktopMinVersion": "{{ or (env "MM_ClientRequirements_DesktopMinVersion") "" }}",
        "IosLatestVersion": "{{ or (env "MM_ClientRequirements_IosLatestVersion") "" }}",
        "IosMinVersion": "{{ or (env "MM_ClientRequirements_IosMinVersion") "" }}"
    },
    "SqlSettings": {
        "DriverName": "{{ or (env "MM_SqlSettings_DriverName") "mysql" }}",
        "DataSource": "{{ or (env "MM_SqlSettings_DataSource") "mmuser:mostest@tcp(dockerhost:3306)/mattermost_test?charset=utf8mb4,utf8&readTimeout=30s&writeTimeout=30s" }}",
        "DataSourceReplicas": [],
        "DataSourceSearchReplicas": [],
        "MaxIdleConns": {{ or (env "MM_SqlSettings_MaxIdleConns") "20" }},
        "MaxOpenConns": {{ or (env "MM_SqlSettings_MaxOpenConns") "300" }},
        "Trace": {{ or (env "MM_SqlSettings_Trace") "false" }},
        "AtRestEncryptKey": "{{ or (env "MM_SqlSettings_AtRestEncryptKey") "" }}",
        "QueryTimeout": {{ or (env "MM_SqlSettings_QueryTimeout") "30" }}
    },
    "LogSettings": {
        "EnableConsole": {{ or (env "MM_LogSettings_EnableConsole") "true" }},
        "ConsoleLevel": "{{ or (env "MM_LogSettings_ConsoleLevel") "DEBUG" }}",
        "ConsoleJson": {{ or (env "MM_LogSettings_ConsoleJson") "true" }},
        "EnableFile": {{ or (env "MM_LogSettings_EnableFile") "true" }},
        "FileLevel": "{{ or (env "MM_LogSettings_FileLevel") "INFO" }}",
        "FileJson": {{ or (env "MM_LogSettings_FileJson") "true" }},
        "FileLocation": "{{ or (env "MM_LogSettings_FileLocation") "" }}",
        "EnableWebhookDebugging": {{ or (env "MM_LogSettings_EnableWebhookDebugging") "true" }},
        "EnableDiagnostics": {{ or (env "MM_LogSettings_EnableDiagnostics") "true" }}
    },
    "PasswordSettings": {
        "MinimumLength": {{ or (env "MM_PasswordSettings_MinimumLength") "5" }},
        "Lowercase": {{ or (env "MM_PasswordSettings_Lowercase") "false" }},
        "Number": {{ or (env "MM_PasswordSettings_Number") "false" }},
        "Uppercase": {{ or (env "MM_PasswordSettings_Uppercase") "false" }},
        "Symbol": {{ or (env "MM_PasswordSettings_Symbol") "false" }}
    },
    "FileSettings": {
        "EnableFileAttachments": {{ or (env "MM_FileSettings_EnableFileAttachments") "true" }},
        "EnableMobileUpload": {{ or (env "MM_FileSettings_EnableMobileUpload") "true" }},
        "EnableMobileDownload": {{ or (env "MM_FileSettings_EnableMobileDownload") "true" }},
        "MaxFileSize": {{ or (env "MM_FileSettings_MaxFileSize") "52428800" }},
        "DriverName": "{{ or (env "MM_FileSettings_DriverName") "local" }}",
        "Directory": "{{ or (env "MM_FileSettings_Directory") "./data/" }}",
        "EnablePublicLink": {{ or (env "MM_FileSettings_EnablePublicLink") "false" }},
        "PublicLinkSalt": "{{ or (env "MM_FileSettings_PublicLinkSalt") "" }}",
        "InitialFont": "{{ or (env "MM_FileSettings_InitialFont") "luximbi.ttf" }}",
        "AmazonS3AccessKeyId": "{{ or (env "MM_FileSettings_AmazonS3AccessKeyId") "" }}",
        "AmazonS3SecretAccessKey": "{{ or (env "MM_FileSettings_AmazonS3SecretAccessKey") "" }}",
        "AmazonS3Bucket": "{{ or (env "MM_FileSettings_AmazonS3Bucket") "" }}",
        "AmazonS3Region": "{{ or (env "MM_FileSettings_AmazonS3Region") "" }}",
        "AmazonS3Endpoint": "{{ or (env "MM_FileSettings_AmazonS3Endpoint") "s3.amazonaws.com" }}",
        "AmazonS3SSL": {{ or (env "MM_FileSettings_AmazonS3SSL") "true" }},
        "AmazonS3SignV2": {{ or (env "MM_FileSettings_AmazonS3SignV2") "false" }},
        "AmazonS3SSE": {{ or (env "MM_FileSettings_AmazonS3SSE") "false" }},
        "AmazonS3Trace": {{ or (env "MM_FileSettings_AmazonS3Trace") "false" }}
    },
    "EmailSettings": {
        "EnableSignUpWithEmail": {{ or (env "MM_EmailSettings_EnableSignUpWithEmail") "true" }},
        "EnableSignInWithEmail": {{ or (env "MM_EmailSettings_EnableSignInWithEmail") "true" }},
        "EnableSignInWithUsername": {{ or (env "MM_EmailSettings_EnableSignInWithUsername") "true" }},
        "SendEmailNotifications": {{ or (env "MM_EmailSettings_SendEmailNotifications") "true" }},
        "UseChannelInEmailNotifications": {{ or (env "MM_EmailSettings_UseChannelInEmailNotifications") "false" }},
        "RequireEmailVerification": {{ or (env "MM_EmailSettings_RequireEmailVerification") "false" }},
        "FeedbackName": "{{ or (env "MM_EmailSettings_FeedbackName") "" }}",
        "FeedbackEmail": "{{ or (env "MM_EmailSettings_FeedbackEmail") "test@example.com" }}",
        "FeedbackOrganization": "{{ or (env "MM_EmailSettings_FeedbackOrganization") "" }}",
        "EnableSMTPAuth": {{ or (env "MM_EmailSettings_EnableSMTPAuth") "false" }},
        "SMTPUsername": "{{ or (env "MM_EmailSettings_SMTPUsername") "" }}",
        "SMTPPassword": "{{ or (env "MM_EmailSettings_SMTPPassword") "" }}",
        "SMTPServer": "{{ or (env "MM_EmailSettings_SMTPServer") "dockerhost" }}",
        "SMTPPort": {{ or (env "MM_EmailSettings_SMTPPort") "2500" }},
        "ConnectionSecurity": "{{ or (env "MM_EmailSettings_ConnectionSecurity") "" }}",
        "InviteSalt": "{{ or (env "MM_EmailSettings_InviteSalt") "" }}",
        "SendPushNotifications": {{ or (env "MM_EmailSettings_SendPushNotifications") "false" }},
        "PushNotificationServer": "{{ or (env "MM_EmailSettings_PushNotificationServer") "" }}",
        "PushNotificationContents": "{{ or (env "MM_EmailSettings_PushNotificationContents") "generic" }}",
        "EnableEmailBatching": {{ or (env "MM_EmailSettings_EnableEmailBatching") "false" }},
        "EmailBatchingBufferSize": {{ or (env "MM_EmailSettings_EmailBatchingBufferSize") "256" }},
        "EmailBatchingInterval": {{ or (env "MM_EmailSettings_EmailBatchingInterval") "30" }},
        "SkipServerCertificateVerification": {{ or (env "MM_EmailSettings_SkipServerCertificateVerification") "false" }},
        "EmailNotificationContentsType": "{{ or (env "MM_EmailSettings_EmailNotificationContentsType") "full" }}",
        "LoginButtonColor": "{{ or (env "MM_EmailSettings_LoginButtonColor") "" }}",
        "LoginButtonBorderColor": "{{ or (env "MM_EmailSettings_LoginButtonBorderColor") "" }}",
        "LoginButtonTextColor": "{{ or (env "MM_EmailSettings_LoginButtonTextColor") "" }}"
    },
    "RateLimitSettings": {
        "Enable": {{ or (env "MM_RateLimitSettings_Enable") "false" }},
        "PerSec": {{ or (env "MM_RateLimitSettings_PerSec") "10" }},
        "MaxBurst": {{ or (env "MM_RateLimitSettings_MaxBurst") "100" }},
        "MemoryStoreSize": {{ or (env "MM_RateLimitSettings_MemoryStoreSize") "10000" }},
        "VaryByRemoteAddr": {{ or (env "MM_RateLimitSettings_VaryByRemoteAddr") "true" }},
        "VaryByUser": {{ or (env "MM_RateLimitSettings_VaryByUser") "false" }},
        "VaryByHeader": "{{ or (env "MM_RateLimitSettings_VaryByHeader") "" }}"
    },
    "PrivacySettings": {
        "ShowEmailAddress": {{ or (env "MM_PrivacySettings_ShowEmailAddress") "true" }},
        "ShowFullName": {{ or (env "MM_PrivacySettings_ShowFullName") "true" }}
    },
    "SupportSettings": {
        "TermsOfServiceLink": "{{ or (env "MM_SupportSettings_TermsOfServiceLink") "https://about.mattermost.com/default-terms/" }}",
        "PrivacyPolicyLink": "{{ or (env "MM_SupportSettings_PrivacyPolicyLink") "https://about.mattermost.com/default-privacy-policy/" }}",
        "AboutLink": "{{ or (env "MM_SupportSettings_AboutLink") "https://about.mattermost.com/default-about/" }}",
        "HelpLink": "{{ or (env "MM_SupportSettings_HelpLink") "https://about.mattermost.com/default-help/" }}",
        "ReportAProblemLink": "{{ or (env "MM_SupportSettings_ReportAProblemLink") "https://about.mattermost.com/default-report-a-problem/" }}",
        "SupportEmail": "{{ or (env "MM_SupportSettings_SupportEmail") "feedback@mattermost.com" }}"
    },
    "AnnouncementSettings": {
        "EnableBanner": {{ or (env "MM_AnnouncementSettings_EnableBanner") "false" }},
        "BannerText": "{{ or (env "MM_AnnouncementSettings_BannerText") "" }}",
        "BannerColor": "{{ or (env "MM_AnnouncementSettings_BannerColor") "#f2a93b" }}",
        "BannerTextColor": "{{ or (env "MM_AnnouncementSettings_BannerTextColor") "#333333" }}",
        "AllowBannerDismissal": {{ or (env "MM_AnnouncementSettings_AllowBannerDismissal") "true" }}
    },
    "ThemeSettings": {
        "EnableThemeSelection": {{ or (env "MM_ThemeSettings_EnableThemeSelection") "true" }},
        "DefaultTheme": "{{ or (env "MM_ThemeSettings_DefaultTheme") "default" }}",
        "AllowCustomThemes": {{ or (env "MM_ThemeSettings_AllowCustomThemes") "true" }},
        "AllowedThemes": []
    },
    "TimezoneSettings": {
        "SupportedTimezonesPath": "{{ or (env "MM_TimezoneSettings_SupportedTimezonesPath") "timezones.json" }}"
    },
    "GitLabSettings": {
        "Enable": {{ or (env "MM_GitLabSettings_Enable") "false" }},
        "Secret": "{{ or (env "MM_GitLabSettings_Secret") "" }}",
        "Id": "{{ or (env "MM_GitLabSettings_Id") "" }}",
        "Scope": "{{ or (env "MM_GitLabSettings_Scope") "" }}",
        "AuthEndpoint": "{{ or (env "MM_GitLabSettings_AuthEndpoint") "" }}",
        "TokenEndpoint": "{{ or (env "MM_GitLabSettings_TokenEndpoint") "" }}",
        "UserApiEndpoint": "{{ or (env "MM_GitLabSettings_UserApiEndpoint") "" }}"
    },
    "GoogleSettings": {
        "Enable": {{ or (env "MM_GoogleSettings_Enable") "false" }},
        "Secret": "{{ or (env "MM_GoogleSettings_Secret") "" }}",
        "Id": "{{ or (env "MM_GoogleSettings_Id") "" }}",
        "Scope": "{{ or (env "MM_GoogleSettings_Scope") "profile email" }}",
        "AuthEndpoint": "{{ or (env "MM_GoogleSettings_AuthEndpoint") "https://accounts.google.com/o/oauth2/v2/auth" }}",
        "TokenEndpoint": "{{ or (env "MM_GoogleSettings_TokenEndpoint") "https://www.googleapis.com/oauth2/v4/token" }}",
        "UserApiEndpoint": "{{ or (env "MM_GoogleSettings_UserApiEndpoint") "https://www.googleapis.com/plus/v1/people/me" }}"
    },
    "Office365Settings": {
        "Enable": {{ or (env "MM_Office365Settings_Enable") "false" }},
        "Secret": "{{ or (env "MM_Office365Settings_Secret") "" }}",
        "Id": "{{ or (env "MM_Office365Settings_Id") "" }}",
        "Scope": "{{ or (env "MM_Office365Settings_Scope") "User.Read" }}",
        "AuthEndpoint": "{{ or (env "MM_Office365Settings_AuthEndpoint") "https://login.microsoftonline.com/common/oauth2/v2.0/authorize" }}",
        "TokenEndpoint": "{{ or (env "MM_Office365Settings_TokenEndpoint") "https://login.microsoftonline.com/common/oauth2/v2.0/token" }}",
        "UserApiEndpoint": "{{ or (env "MM_Office365Settings_UserApiEndpoint") "https://graph.microsoft.com/v1.0/me" }}"
    },
    "LdapSettings": {
        "Enable": {{ or (env "MM_LdapSettings_Enable") "false" }},
        "EnableSync": {{ or (env "MM_LdapSettings_EnableSync") "false" }},
        "LdapServer": "{{ or (env "MM_LdapSettings_LdapServer") "" }}",
        "LdapPort": {{ or (env "MM_LdapSettings_LdapPort") "389" }},
        "ConnectionSecurity": "{{ or (env "MM_LdapSettings_ConnectionSecurity") "" }}",
        "BaseDN": "{{ or (env "MM_LdapSettings_BaseDN") "" }}",
        "BindUsername": "{{ or (env "MM_LdapSettings_BindUsername") "" }}",
        "BindPassword": "{{ or (env "MM_LdapSettings_BindPassword") "" }}",
        "UserFilter": "{{ or (env "MM_LdapSettings_UserFilter") "" }}",
        "FirstNameAttribute": "{{ or (env "MM_LdapSettings_FirstNameAttribute") "" }}",
        "LastNameAttribute": "{{ or (env "MM_LdapSettings_LastNameAttribute") "" }}",
        "EmailAttribute": "{{ or (env "MM_LdapSettings_EmailAttribute") "" }}",
        "UsernameAttribute": "{{ or (env "MM_LdapSettings_UsernameAttribute") "" }}",
        "NicknameAttribute": "{{ or (env "MM_LdapSettings_NicknameAttribute") "" }}",
        "IdAttribute": "{{ or (env "MM_LdapSettings_IdAttribute") "" }}",
        "PositionAttribute": "{{ or (env "MM_LdapSettings_PositionAttribute") "" }}",
        "LoginIdAttribute": "{{ or (env "MM_LdapSettings_LoginIdAttribute") "" }}",
        "SyncIntervalMinutes": {{ or (env "MM_LdapSettings_SyncIntervalMinutes") "60" }},
        "SkipCertificateVerification": {{ or (env "MM_LdapSettings_SkipCertificateVerification") "false" }},
        "QueryTimeout": {{ or (env "MM_LdapSettings_QueryTimeout") "60" }},
        "MaxPageSize": {{ or (env "MM_LdapSettings_MaxPageSize") "0" }},
        "LoginFieldName": "{{ or (env "MM_LdapSettings_LoginFieldName") "" }}",
        "LoginButtonColor": "{{ or (env "MM_LdapSettings_LoginButtonColor") "" }}",
        "LoginButtonBorderColor": "{{ or (env "MM_LdapSettings_LoginButtonBorderColor") "" }}",
        "LoginButtonTextColor": "{{ or (env "MM_LdapSettings_LoginButtonTextColor") "" }}"
    },
    "ComplianceSettings": {
        "Enable": {{ or (env "MM_ComplianceSettings_Enable") "false" }},
        "Directory": "{{ or (env "MM_ComplianceSettings_Directory") "./data/" }}",
        "EnableDaily": {{ or (env "MM_ComplianceSettings_EnableDaily") "false" }}
    },
    "LocalizationSettings": {
        "DefaultServerLocale": "{{ or (env "MM_LocalizationSettings_DefaultServerLocale") "en" }}",
        "DefaultClientLocale": "{{ or (env "MM_LocalizationSettings_DefaultClientLocale") "en" }}",
        "AvailableLocales": "{{ or (env "MM_LocalizationSettings_AvailableLocales") "" }}"
    },
    "SamlSettings": {
        "Enable": {{ or (env "MM_SamlSettings_Enable") "false" }},
        "EnableSyncWithLdap": {{ or (env "MM_SamlSettings_EnableSyncWithLdap") "false" }},
        "Verify": {{ or (env "MM_SamlSettings_Verify") "true" }},
        "Encrypt": {{ or (env "MM_SamlSettings_Encrypt") "true" }},
        "IdpUrl": "{{ or (env "MM_SamlSettings_IdpUrl") "" }}",
        "IdpDescriptorUrl": "{{ or (env "MM_SamlSettings_IdpDescriptorUrl") "" }}",
        "AssertionConsumerServiceURL": "{{ or (env "MM_SamlSettings_AssertionConsumerServiceURL") "" }}",
        "ScopingIDPProviderId": "{{ or (env "MM_SamlSettings_ScopingIDPProviderId") "" }}",
        "ScopingIDPName": "{{ or (env "MM_SamlSettings_ScopingIDPName") "" }}",
        "IdpCertificateFile": "{{ or (env "MM_SamlSettings_IdpCertificateFile") "" }}",
        "PublicCertificateFile": "{{ or (env "MM_SamlSettings_PublicCertificateFile") "" }}",
        "PrivateKeyFile": "{{ or (env "MM_SamlSettings_PrivateKeyFile") "" }}",
        "FirstNameAttribute": "{{ or (env "MM_SamlSettings_FirstNameAttribute") "" }}",
        "LastNameAttribute": "{{ or (env "MM_SamlSettings_LastNameAttribute") "" }}",
        "EmailAttribute": "{{ or (env "MM_SamlSettings_EmailAttribute") "" }}",
        "UsernameAttribute": "{{ or (env "MM_SamlSettings_UsernameAttribute") "" }}",
        "NicknameAttribute": "{{ or (env "MM_SamlSettings_NicknameAttribute") "" }}",
        "LocaleAttribute": "{{ or (env "MM_SamlSettings_LocaleAttribute") "" }}",
        "PositionAttribute": "{{ or (env "MM_SamlSettings_PositionAttribute") "" }}",
        "LoginButtonText": "{{ or (env "MM_SamlSettings_LoginButtonText") "With SAML" }}",
        "LoginButtonColor": "{{ or (env "MM_SamlSettings_LoginButtonColor") "" }}",
        "LoginButtonBorderColor": "{{ or (env "MM_SamlSettings_LoginButtonBorderColor") "" }}",
        "LoginButtonTextColor": "{{ or (env "MM_SamlSettings_LoginButtonTextColor") "" }}"
    },
    "NativeAppSettings": {
        "AppDownloadLink": "{{ or (env "MM_NativeAppSettings_AppDownloadLink") "https://about.mattermost.com/downloads/" }}",
        "AndroidAppDownloadLink": "{{ or (env "MM_NativeAppSettings_AndroidAppDownloadLink") "https://about.mattermost.com/mattermost-android-app/" }}",
        "IosAppDownloadLink": "{{ or (env "MM_NativeAppSettings_IosAppDownloadLink") "https://about.mattermost.com/mattermost-ios-app/" }}"
    },
    "ClusterSettings": {
        "Enable": {{ or (env "MM_ClusterSettings_Enable") "false" }},
        "ClusterName": "{{ or (env "MM_ClusterSettings_ClusterName") "" }}",
        "OverrideHostname": "{{ or (env "MM_ClusterSettings_OverrideHostname") "" }}",
        "UseIpAddress": {{ or (env "MM_ClusterSettings_UseIpAddress") "true" }},
        "UseExperimentalGossip": {{ or (env "MM_ClusterSettings_UseExperimentalGossip") "false" }},
        "ReadOnlyConfig": {{ or (env "MM_ClusterSettings_ReadOnlyConfig") "true" }},
        "GossipPort": {{ or (env "MM_ClusterSettings_GossipPort") "8074" }},
        "StreamingPort": {{ or (env "MM_ClusterSettings_StreamingPort") "8075" }}
    },
    "MetricsSettings": {
        "Enable": {{ or (env "MM_MetricsSettings_Enable") "false" }},
        "BlockProfileRate": {{ or (env "MM_MetricsSettings_BlockProfileRate") "0" }},
        "ListenAddress": "{{ or (env "MM_MetricsSettings_ListenAddress") ":8067" }}"
    },
    "AnalyticsSettings": {
        "MaxUsersForStatistics": {{ or (env "MM_AnalyticsSettings_MaxUsersForStatistics") "2500" }}
    },
    "WebrtcSettings": {
        "Enable": {{ or (env "MM_WebrtcSettings_Enable") "false" }},
        "GatewayWebsocketUrl": "{{ or (env "MM_WebrtcSettings_GatewayWebsocketUrl") "" }}",
        "GatewayAdminUrl": "{{ or (env "MM_WebrtcSettings_GatewayAdminUrl") "" }}",
        "GatewayAdminSecret": "{{ or (env "MM_WebrtcSettings_GatewayAdminSecret") "" }}",
        "StunURI": "{{ or (env "MM_WebrtcSettings_StunURI") "" }}",
        "TurnURI": "{{ or (env "MM_WebrtcSettings_TurnURI") "" }}",
        "TurnUsername": "{{ or (env "MM_WebrtcSettings_TurnUsername") "" }}",
        "TurnSharedKey": "{{ or (env "MM_WebrtcSettings_TurnSharedKey") "" }}"
    },
    "ElasticsearchSettings": {
        "ConnectionUrl": "{{ or (env "MM_ElasticsearchSettings_ConnectionUrl") "http://dockerhost:9200" }}",
        "Username": "{{ or (env "MM_ElasticsearchSettings_Username") "elastic" }}",
        "Password": "{{ or (env "MM_ElasticsearchSettings_Password") "changeme" }}",
        "EnableIndexing": {{ or (env "MM_ElasticsearchSettings_EnableIndexing") "false" }},
        "EnableSearching": {{ or (env "MM_ElasticsearchSettings_EnableSearching") "false" }},
        "Sniff": {{ or (env "MM_ElasticsearchSettings_Sniff") "true" }},
        "PostIndexReplicas": {{ or (env "MM_ElasticsearchSettings_PostIndexReplicas") "1" }},
        "PostIndexShards": {{ or (env "MM_ElasticsearchSettings_PostIndexShards") "1" }},
        "AggregatePostsAfterDays": {{ or (env "MM_ElasticsearchSettings_AggregatePostsAfterDays") "365" }},
        "PostsAggregatorJobStartTime": "{{ or (env "MM_ElasticsearchSettings_PostsAggregatorJobStartTime") "03:00" }}",
        "IndexPrefix": "{{ or (env "MM_ElasticsearchSettings_IndexPrefix") "" }}",
        "LiveIndexingBatchSize": {{ or (env "MM_ElasticsearchSettings_LiveIndexingBatchSize") "1" }},
        "BulkIndexingTimeWindowSeconds": {{ or (env "MM_ElasticsearchSettings_BulkIndexingTimeWindowSeconds") "3600" }},
        "RequestTimeoutSeconds": {{ or (env "MM_ElasticsearchSettings_RequestTimeoutSeconds") "30" }}
    },
    "DataRetentionSettings": {
        "EnableMessageDeletion": {{ or (env "MM_DataRetentionSettings_EnableMessageDeletion") "false" }},
        "EnableFileDeletion": {{ or (env "MM_DataRetentionSettings_EnableFileDeletion") "false" }},
        "MessageRetentionDays": {{ or (env "MM_DataRetentionSettings_MessageRetentionDays") "365" }},
        "FileRetentionDays": {{ or (env "MM_DataRetentionSettings_FileRetentionDays") "365" }},
        "DeletionJobStartTime": "{{ or (env "MM_DataRetentionSettings_DeletionJobStartTime") "02:00" }}"
    },
    "MessageExportSettings": {
        "EnableExport": {{ or (env "MM_MessageExportSettings_EnableExport") "false" }},
        "DailyRunTime": "{{ or (env "MM_MessageExportSettings_DailyRunTime") "01:00" }}",
        "ExportFromTimestamp": {{ or (env "MM_MessageExportSettings_ExportFromTimestamp") "0" }},
        "FileLocation": "{{ or (env "MM_MessageExportSettings_FileLocation") "export" }}",
        "BatchSize": {{ or (env "MM_MessageExportSettings_BatchSize") "10000" }},
        "GlobalRelaySettings": {
            "CustomerType": "{{ or (env "MM_MessageExportSettings_GlobalRelaySettings_CustomerType") "A9" }}",
            "SmtpUsername": "{{ or (env "MM_MessageExportSettings_GlobalRelaySettings_SmtpUsername") "" }}",
            "SmtpPassword": "{{ or (env "MM_MessageExportSettings_GlobalRelaySettings_SmtpPassword") "" }}",
            "EmailAddress": "{{ or (env "MM_MessageExportSettings_GlobalRelaySettings_EmailAddress") "" }}"
        }
    },
    "JobSettings": {
        "RunJobs": {{ or (env "MM_JobSettings_RunJobs") "true" }},
        "RunScheduler": {{ or (env "MM_JobSettings_RunScheduler") "true" }}
    },
    "PluginSettings": {
        "Enable": {{ or (env "MM_PluginSettings_Enable") "true" }},
        "EnableUploads": {{ or (env "MM_PluginSettings_EnableUploads") "false" }},
        "Directory": "{{ or (env "MM_PluginSettings_Directory") "./plugins" }}",
        "ClientDirectory": "{{ or (env "MM_PluginSettings_ClientDirectory") "./client/plugins" }}",
        "Plugins": {},
        "PluginStates": {}
    }
}
